* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-image: url(../pexels-rakicevic-nenad-769525.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
    

img {
    float: left;
    width: 33.33%;
    height: 60vh;
    padding: 10px;
}

h4 {
    font-size: xx-large ;
    text-align: center;
    color: aliceblue;
    text-shadow: 5px 5px rgb(46, 40, 40);
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    color: rgba(121, 4, 76, 0.979);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
}